# Logs
/var/*
!var/log/.gitkeep

# Managed by Composer
/bin/*
!bin/console
!bin/phpunit
/vendor/
.idea/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
